:root {
  --main-color: rgb(26, 160, 201);
}

.heading {
  background-color: var(--main-color);
  /* z-index: 20; */
}

.heading .brand {
  color: white;
  font-family: Lobster, cursive;
}

.search-box .search-button {
  border: none;
}

/* Sidebar */
.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.fixed-overside {
  /* background-color: var(--main-color); */
  background-color: white;
  border: 2px ridge var(--main-color);
  cursor: pointer;
  color: var(--main-color);
  font-family: Lobster, cursive;
  font-size: 2rem;
  text-decoration: none;
  z-index: -1;
  transition: all 80ms ease-in;
}

.fixed-overside:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(59, 221, 213);
  font-size: 2.5rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--main-color);
}

.sidebar a:hover {
  text-decoration: underline;
  filter: brightness(0.9);
}

.sidebar-group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar li {
  transition: all 50ms ease-in;
  transform: none;
}

.sidebar li:hover {
  transform: translateX(10px);
}

/* Headings */
h1 {
  font-size: 4rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .heading .brand {
    font-size: 1.8rem;
  }
}

/* Content */
.content p {
  margin: 1rem auto;
}
